
body {
    background-image: image("../fotos/design-01jhn1mwxa-1736946936.jpg");
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../FlyingMap/fotos/space-stars-background-4000-x-2250-oy07oowlgrr27av1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    overflow: hidden;   
}

.navbar {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    padding: 0; 
    z-index: 10; 
}

button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: black;
    color: white;
}


.countdown-timer {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 10; 
    background: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
}
